.menuArea{
  height: 100vh;
  margin-left: 3rem;
}

.methodArea{
  background-color: #fff;
  height: 100vh;
}

.phraseSpan{
  font-weight: bolder;
  font-size: 18px;
}

.buttonVerify{
  margin-left: 5%;
}

.titleMargin{
  margin-left: 3%;
}
.areaFlex>div{
  justify-content: center;
  display: flex;
}




